<h2>Gerenciador de Conteúdo</h2>

<a href="http://localhost/site_mvc/?pagina=admin&metodo=create">Criar Publicação</a>
<br><br>
<hr>
<table border="2px">
	<tr>
		<th>ID</th>
		<th>Titulo</th>
		<th>Alteração</th>
		<th>Deleção</th>
	</tr>
	{% for postagem in postagens %}
	<tr>
		<th>{{postagem.id}}</th>
		<th>{{postagem.titulo}}</th>
		<th><a href="http://localhost/site_mvc/?pagina=admin&metodo=change&id={{postagem.id}}">Alteração</a></th>
		<th><a href="http://localhost/site_mvc/?pagina=admin&metodo=delete&id={{postagem.id}}"></a>Deleção</th>
	</tr>
	{% endfor %}
</table>